@model Project_MVC5.Models.tb_SalesOrder
@using PagedList.Mvc;


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SalesLayout.cshtml";
}

@using (Html.BeginForm("Index", "MvcSearch", FormMethod.Get))
{
    @Html.ValidationSummary(false)
    <div style="border-bottom:1px solid #bbb"><h1>Search Bill No</h1></div>
    <table style="border:0px;width:500px;">
        <tr>
            <td>
                <div class="editor-label">
                @Html.LabelFor(model => model.Bill_No)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model=>model.Bill_No)
                    @Html.ValidationMessageFor(model => model.Bill_No)
                </div>
            </td>
            <td style="vertical-align:bottom">
                <input name="SearchButton" type="submit" value="Search"/>
            </td>
          </tr>
    </table>

    if (Model.SearchResults != null && Model.SearchResults.Count > 0)
    {
        <table class="table" style="width:500px">
            <tr>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
            @foreach (var item in Model.SearchResults)
            {
                <tr>
                    <td>@item.Name_Product</td>
                    <td>@item.Price</td>
                    <td>@item.Quantity</td>
                    <td>@item.Total</td>
                </tr>
            }
        </table>
 
    
}

}

