@model IEnumerable<Project_MVC5.Models.tb_SalesOrder>
@{
    ViewBag.Title = "SalesOrder";
    Layout = "~/Views/Shared/_SalesLayout.cshtml";

    var Bill_No = 0;
    var Customer = "";
    DateTime Date = DateTime.Now;
    var Employee = "";

    if (Model != null)
    {

        var list = Model.ToList();
        for (int i = 0; i == 0; i++)
        {
            Bill_No = list[i].Bill_No;
            Customer = list[i].Customer;
            Date = list[i].Date;
            Employee = list[i].Employee;
        }


    }




    }

@* add new & edit*@


<form class="form-horizontal" action="/Sales_SalesOrder/AddorEdit" method="post">

    <div class="form-horizontal form-control-static">
        <div class="form-group-sm form-inline form-control-static">

            <label class="control-label col-md-push-12">Customer</label> &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" class="form-control col-md-push-12 bg-gray-light" name="Customer" id="Customer" value="@Customer"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="hidden" name="ID_Product" id="ID_Product" />
            
            <label class="control-label col-md-push-12">Bill No</label>&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" class="form-control col-md-push-12 bg-gray-light" name="Bill_No" id="Bill_No" value="@Bill_No" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           
            <label class="control-label col-md-push-12">Date</label>&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" class="form-control col-md-push-12 bg-gray-light" name="Date" id="Date" value="@Date"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
            <label class="control-label col-md-push-12">Employee</label>&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" class="form-control col-md-push-12 bg-gray-light" name="Employee" id="Employee" value="@Employee"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        </div>


        <br /><br />

    <div class="form-group-sm form-inline">
        <label class="control-label col-md-1">Product Name</label>
        <input type="text" class="form-control col-md-1" name="Name_Product" id="Name_Product"  />

        <label class="control-label col-md-1">Price</label>
        <input type="text" class="form-control col-md-1" name="Price" id="Price" />

        <label class="control-label col-md-1">Quantity</label>
        <input type="text" class="form-control col-md-1" name="Quantity" id="Quantity" />


    </div>

<div class="form-horizontal">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="ADD" class="btn btn-primary text-center" />
</div>
</form>


        <br /><br /><br /><br /><br /><br />


        <table class="table" border="1">
            <tr>
                <th>Bill No</th>
                <th>Date</th>
                <th>employee</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>quantity</th>
                <th>Total</th>

            </tr>
            <tbody>
                @if (Model != null)
            {

                foreach (var item in Model)
                {
                        <tr class="main-data" data-id="@item.ID_Product">
                            <td>
                                @item.Bill_No
                            </td>
                            <td>
                                @item.Date
                            </td>
                            <td>
                                @item.Employee
                            </td>
                            <td>
                                @item.Name_Product
                            </td>
                            <td>
                                @item.Price
                            </td>
                            <td>
                                @item.Quantity
                            </td>
                            <td>
                                Total: @item.Total
                            </td>
                            <td>
                                <a href="/Sales_SalesOrder/Delete/@item.ID_Product">Delete</a> | <a href="#" onclick="showedit(this)">Edit</a>
                            </td>
                        </tr>


                    }

                }

                @if (Model != null)
            {
                double sum = 0;
                foreach (var item in Model)
                {
                    sum += (double)item.Total;

                }
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>

                    <th>Net Total : @sum</th>
                </tr>

                }

            </tbody>

        </table>






